/* prevent problems on different browsers*/
* {
    box-sizing: border-box;
}

body {
    font-family: "avenir-next-lt-pro", sans-serif;
    margin: 0;
}

/* Header Styles */
header {
    background-color: rgb(206, 240, 157);
    padding: 1rem 10px;
    text-align: left;
}

header span {
    color: rgb(71, 108, 94);
    font-weight: 700;
    font-size: 1.6rem;
}

/* small screenNavigation Styles */
@media screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        text-align: center;
        padding: .83rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: rgb(206, 240, 157);
        background-color: rgb(71, 108, 94);
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: solid 2px rgba(206, 240, 157, 0.3);
        border-top: 4px solid transparent;
    }

    nav .active a {
        background-color: rgb(171, 244, 1);
        color: rgb(71, 108, 94);
        background-image:linear-gradient(rgb(171, 244, 1), rgb(198, 241, 128)); ;
    }

}

/*end small screen navigation styles/*

/* large screen navigation*/
@media screen and (min-width: 801px) {
    nav {
        background-color: rgb(71, 108, 94);
    }

    nav ul {
        margin: 0;
        padding: 0 10px;
        list-style: none;
        display: flex;
    }

    nav a {
        display: block;
        padding: .83rem .83rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: rgb(206, 240, 157);
        font-weight: 700;
        border-bottom: solid 4px transparent;
        border-top: 4px solid transparent;
    }

    nav .active a {
        border-bottom: solid 4px rgb(71, 108, 94);
        border-top: 4px solid rgb(71, 108, 94);
    }

    nav li.active a {
        background-color: rgb(171, 244, 1);
        color: rgb(71, 108, 94);
    }

    nav li a:hover {
        background-color: rgb(206, 240, 157);
        color: rgb(71, 108, 94);
        transition: .3s;
    }
}

/*end large screen navigation styles*/


/* Main Content Styles */
main {
    padding: 1rem 10px;
}

main h1 {
    color: rgb(08, 54, 67);
}

main h2 {
    color: rgb(08, 54, 67);
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: rgb(206, 240, 157);
}

main dl dt {
    color: rgb(08, 54, 67);
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #333;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: '-';
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    color: rgb(08, 54, 67);
    font-weight: 700;
}

main em {
    font-weight: 300;
    color: rgb(71, 108, 94);
}

main address {
    font-style: normal;
    background-color: rgba(206, 240, 157, 0.5);
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid rgb(71, 108, 94);
    width: fit-content;
}

main a {
    color: rgb(08, 54, 67);
    text-decoration: none;
}

main a:hover {
    color: rgb(71, 108, 94);
    transition: .3s;
}

.hero {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/*main image styles*/
figure.main-image {
    margin: 0 0 0 10px;
    width: 30%;
    float: right;
}

figure.main-image img {
    width: 100%;
    height: auto;
}

figure.main-image figcaption {
    font-size: .7rem;
    text-align: center;
    margin-top: .3rem;
}

/*gallery image styles*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    font-size: .7rem;
    text-align: center;
    margin-top: .3rem;
    color: rgb(71, 108, 94);
}

div.gallery img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

div.gallery img:hover {
box-shadow: 0 0 7px rgba(71, 108, 94, 0.9);
}

.myMessage fieldset {
    border: 1px solid rgb(71, 108, 94);
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.myMessage legend {
    font-weight: 700;
    color: rgb(71, 108, 94);
    padding: 0 .5rem;
}

.myMessage label,
.myMessage select,
.myMessage [type="text"],
.myMessage [type="email"],
.myMessage [type=tel],
.myMessage textarea {
    margin: .5rem;
    display: block;
    font-weight: 500;
    color: rgb(08, 54, 67);
}

.myMessage [type="text"],
.myMessage [type="email"],
.myMessage [type=tel],
.myMessage select,
.myMessage textarea {
    border: 1px solid rgb(71, 108, 94);
    width: 250px;
    padding: .3rem;
    border-radius: .3rem;
    font-family: "avenir-next-lt-pro", sans-serif;
    font-size: 1rem;
}

.myMessage textarea {
    height: 6rem;
    width: 500px;
}

.myMessage :required {
    background-color: rgba(171, 244, 1, 0.2);
}

.myMessage [type="submit"] {
    background-color: rgb(71, 108, 94);
    color: rgb(206, 240, 157);
    font-weight: 700;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
    font-family: "avenir-next-lt-pro", sans-serif;
    font-size: 1rem;
}

.map {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    border: 2px solid rgb(71, 108, 94);
    border-radius: 10px;
}
.video {
    margin-top: 1rem;
    width: 100%;
    height: 400px;
    border: 2px solid rgb(71, 108, 94);
    border-radius: 10px;
}

table.venom {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
table.venom th {
    background-color:rgb(206, 240, 157);
    color: rgb(08, 54, 67);
    border: 1px solid rgba(71, 108, 94, 0.5);
    padding: .6rem 2%;
    text-align: left;
}
table.venom td {
    color: rgb(71, 108, 94);
    border: 1px solid rgba(71, 108, 94, 0.5);
    padding: .4rem 2%;
}
table.venom tr:nth-child(even) {
    background-color: rgba(206, 240, 157, 0.3);
}
table.venom tr:hover {
    background-color: rgba(171, 244, 1, 0.3);
}

/* Footer Styles */
footer {
    background-color: rgb(71, 108, 94);
    text-align: center;
    padding: 1rem 10px;
    clear: both;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: rgb(206, 240, 157);
    letter-spacing: 2px;
}
header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}